In [ ]:
import numpy as np
import pandas as pd

In [5]:
#read datasets
train_txn = pd.read_csv('final_txn.csv', index_col = 'new_id')
train_user = pd.read_csv('final_user_log.csv', index_col = 'new_id')
#train = train_txn.merge(train_user, how='inner')
train_txn.head()

,is_churn,in_txn,payment_plan_days,plan_list_price,actual_amount_paid,avg_daily_paid,list_actual_diff,mean_ar,last_ar,stopped_ar,mean_cancel,cancelled,last_cancel,last_plan_price,lst_free_trial,txn_cnt,lp_high_cnt,per_lp_high,prev_churn_cnt,pmt_change_cnt
new_id,,,,,,,,,,,,,,,,,,,,
1025093,1,True,37,149,149,4.027027,0,0.000000,0,False,0.000000,False,0,149,False,2,NaN,NaN,1.0,NaN
476532,1,True,633,3160,3309,5.227488,65387,0.954545,1,False,0.045455,True,0,149,False,22,1.0,0.045455,1.0,2.0
731853,1,True,300,1492,1492,4.973333,0,0.800000,1,False,0.100000,True,1,149,False,10,NaN,NaN,1.0,1.0
854199,1,True,820,1788,1788,2.180488,0,0.000000,0,False,0.000000,False,0,1788,False,2,NaN,NaN,NaN,1.0
601853,1,True,785,3576,3576,4.555414,0,0.000000,0,False,0.000000,False,0,149,False,8,NaN,NaN,NaN,NaN

In [4]:
train_txn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 990834 entries, 1025093 to 15788
Data columns (total 20 columns):
is_churn              990834 non-null int64
in_txn                990834 non-null bool
payment_plan_days     990834 non-null int64
plan_list_price       990834 non-null int64
actual_amount_paid    990834 non-null int64
avg_daily_paid        990834 non-null float64
list_actual_diff      990834 non-null int64
mean_ar               990834 non-null float64
last_ar               990834 non-null int64
stopped_ar            990834 non-null bool
mean_cancel           990834 non-null float64
cancelled             990834 non-null bool
last_cancel           990834 non-null int64
last_plan_price       990834 non-null int64
lst_free_trial        990834 non-null bool
txn_cnt               990834 non-null int64
lp_high_cnt           353688 non-null float64
per_lp_high           353688 non-null float64
prev_churn_cnt        264759 non-null float64
pmt_change_cnt        132091 non-null float64
dtypes: bool(4), float64(7), int64(9)
memory usage: 132.3 MB

In [6]:
train_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992931 entries, 1025093 to 639550
Data columns (total 7 columns):
is_churn            992931 non-null int64
no_songs_cp6        869926 non-null float64
months_listening    865735 non-null object
listening_p6        869926 non-null float64
listening_p12       869926 non-null float64
logavg_secs_p12     869926 non-null float64
freq_days           860066 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 60.6+ MB

In [ ]:
'''
900,000 observations
54,000

15.6
'''

In [ ]:
train_np = train.as_matrix()
oversample = train_np.repeat(train_np[train_np[:,0] == 1,:], 16)