In [2]:
import numpy as np
import pandas as pd

import data_manipulation as dm
import time
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
txn = dm.transactions()
train = dm.train()

AttributeError: module 'data_manipulation' has no attribute 'test'

In [64]:
#0.4% of transactions have membership_expire_date<transaction_date
memb_exp_test=txn[txn['membership_expire_date']<txn['transaction_date']]
print(memb_exp_test.shape[0])
print(txn.shape[0])
print(memb_exp_test.shape[0]/txn.shape[0])
print(txn['new_id'].nunique())
print(memb_exp_test['new_id'].nunique())

65355
15883148
0.004114738463684907
992931
53999

In [7]:
#Almost all records with membership_expire_date<transaction_date are auto_renew memberships
print(memb_exp_test[memb_exp_test['is_auto_renew']==1]['is_auto_renew'].sum())
print(txn[txn['is_auto_renew']==1].shape)

65195
(14693032, 9)

In [17]:
#Most of the records with membership_expire_date<transaction_date are cancelled memberships - are these late payments?
#ALL of these are also auto-renew memberships
print(memb_exp_test[memb_exp_test['is_cancel']==1]['is_cancel'].sum())
memb_exp_test[(memb_exp_test['is_cancel']==1)&(memb_exp_test['is_auto_renew']==1)].shape

62295

(62295, 9)

In [13]:
#The rest of the auto_renew memberships
memb_exp_test[(memb_exp_test['is_cancel']==0)&(memb_exp_test['is_auto_renew']==1)].shape

(2900, 9)

In [18]:
#Looks like the rest of the records have lots of instances of membership_expire_date = '1970-01-01'
memb_exp_test[memb_exp_test['is_auto_renew']==0].head(10)
#15 records where membership_expire_date is not is not 1970-01-01 and is not auto_renew
odd_ones_out=memb_exp_test[(memb_exp_test['membership_expire_date']!='1970-01-01') & (memb_exp_test['is_auto_renew']==0)]
#Seems like all of these have plan_list_price of 0
odd_ones_out.head(15)

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,new_id
2169672,26,1,0,0,0,2016-04-19,2016-04-17,0,477325
5588206,26,1,0,0,0,2015-10-01,2015-09-30,0,121441
5665680,26,1,0,0,0,2016-08-08,2016-08-06,0,922517
9293615,26,1,0,0,0,2017-02-23,2017-02-21,0,901393
10020485,26,1,0,0,0,2015-06-15,2015-06-14,0,7607
10057746,26,1,0,0,0,2017-01-07,2017-01-05,0,928011
10136811,26,0,0,0,0,2015-05-07,2015-05-06,0,731396
10482179,26,1,0,0,0,2015-01-26,2015-01-25,0,71096
11250600,35,7,0,0,0,2015-08-10,2012-02-02,0,461239
11777873,41,0,0,0,0,2015-09-18,2014-09-17,0,59626
14639261,26,1,0,0,0,2016-06-14,2016-06-06,0,735144
15775099,26,1,0,0,0,2017-02-15,2017-02-13,0,512651
15837552,35,7,0,0,0,2017-02-20,2017-02-17,0,388685
15846447,26,1,0,0,0,2017-02-08,2017-02-07,0,704756
15876940,35,7,0,0,0,2017-02-20,2017-02-18,0,223051

In [26]:
#is_cancel=txn[txn['is_cancel']==1]
#print(is_cancel.shape)
#is_cancel['diff_dates']=is_cancel['membership_expire_date']-is_cancel['transaction_date']
#is_cancel['diff_dates']=is_cancel['diff_dates']/ np.timedelta64(1, 'D')
#sns.distplot(is_cancel[is_cancel['diff_dates']>0]['diff_dates'])

(276005, 9)

C:\Users\Cathy\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Cathy\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [62]:
#Determine if member had an odd transaction
txn['odd_txn_flag'] = txn['new_id'].isin(memb_exp_test['new_id'])

In [65]:
#Sort transactions
txn_sorted=txn.sort_values(['new_id', 'transaction_date'])

In [66]:
test=txn_sorted[txn_sorted['odd_txn_flag']==True]

In [69]:
test[test['new_id']==20]

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,new_id,odd_txn_flag
146155,41,30,149,149,1,2015-01-08,2015-02-09,0,20,True
146134,41,30,149,149,1,2015-02-08,2015-03-09,0,20,True
146148,41,30,149,149,1,2015-03-08,2015-04-09,0,20,True
146136,41,30,149,149,1,2015-04-08,2015-05-09,0,20,True
146133,41,0,0,149,1,2015-05-08,2015-06-09,0,20,True
146147,41,30,149,149,1,2015-06-08,2015-07-09,0,20,True
146152,41,30,149,149,1,2015-07-08,2015-08-09,0,20,True
146157,41,30,149,149,1,2015-08-08,2015-09-09,0,20,True
146149,41,30,149,149,1,2015-09-08,2015-10-09,0,20,True
146156,41,30,149,149,1,2015-10-08,2015-11-09,0,20,True
146150,41,30,149,149,1,2015-11-08,2015-12-09,0,20,True
146144,41,30,149,149,1,2015-12-08,2016-01-09,0,20,True
146142,41,30,149,149,1,2016-01-08,2016-02-09,0,20,True
146146,41,30,149,149,1,2016-02-08,2016-03-09,0,20,True
146143,41,30,149,149,1,2016-03-02,2016-03-02,1,20,True
146154,33,30,149,149,1,2016-04-26,2016-04-30,0,20,True
146139,33,30,149,149,1,2016-04-30,2016-05-31,0,20,True
146137,33,30,149,149,1,2016-05-31,2016-06-30,0,20,True
146145,33,30,149,149,1,2016-06-30,2016-07-31,0,20,True
146159,33,30,149,149,1,2016-07-31,2016-08-31,0,20,True
146138,33,30,149,149,1,2016-08-31,2016-09-30,0,20,True
146153,33,30,149,149,1,2016-09-30,2016-10-31,0,20,True
146135,33,30,149,149,1,2016-10-28,2016-10-27,1,20,True
146160,26,1,0,0,0,2016-10-28,2016-11-28,0,20,True
146141,41,30,99,99,1,2016-11-26,2016-12-27,0,20,True
146151,41,30,99,99,1,2016-12-26,2017-01-27,0,20,True
146158,41,30,99,99,1,2017-01-26,2017-02-27,0,20,True
146140,41,30,99,99,1,2017-02-26,2017-03-27,0,20,True