In [1]:
import numpy as np
import pandas as pd

In [9]:
train_txn = pd.read_csv('final_txn.csv')
train_user = pd.read_csv('final_user_log.csv')
train = train_txn.merge(train_user, on = 'new_id', how = 'inner')

In [13]:
train.shape

(992931, 28)

In [14]:
train.set_index('new_id')

,is_churn_x,new_id,in_txn,payment_plan_days,plan_list_price,actual_amount_paid,avg_daily_paid,list_actual_diff,mean_ar,last_ar,...,per_lp_high,prev_churn_cnt,pmt_change_cnt,is_churn_y,no_songs_cp6,months_listening,listening_p6,listening_p12,logavg_secs_p12,freq_days
0,1,1025093,True,37.0,149.0,149.0,4.027027,0.0,0.000000,0.0,...,NaN,1.0,NaN,1,0.0,0-6,2.0,2.0,10.333973,1.0
1,1,476532,True,633.0,3160.0,3309.0,5.227488,65387.0,0.954545,1.0,...,0.045455,1.0,2.0,1,1.0,19-24,5.0,11.0,10.487334,1.0
2,1,731853,True,300.0,1492.0,1492.0,4.973333,0.0,0.800000,1.0,...,NaN,1.0,1.0,1,0.0,7-12,6.0,12.0,12.205067,1.0
3,1,854199,True,820.0,1788.0,1788.0,2.180488,0.0,0.000000,0.0,...,NaN,NaN,1.0,1,0.0,25-26,6.0,12.0,12.329552,1.0
4,1,601853,True,785.0,3576.0,3576.0,4.555414,0.0,0.000000,0.0,...,NaN,NaN,NaN,1,0.0,25-26,6.0,12.0,13.448430,1.0